/* Header font styles */
h1 {
    font-family: 'Caveat Brush', cursive; 
    font-size: 80px;
    }
h2 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}
h2, h3 {
    font-family: 'Caveat Brush', cursive;
}
h1, h2 {
    text-align: center;
}
.main-header {
    color: rgb(155, 32, 49);
}
.box-id {
    color: black;
}
/* color and font tab styles */
.autumn-warm {
    background-color: #9C4F5A;
}
.harvest-brown {
    background-color: #9c6b4f;
}
.leaf {
    background-color: #9c914f;
}
.dark-blush {
    background-color: #430E16;
    color: aliceblue ;
}
.color-panel {
    display: inline-block;
    width: 45%;
    text-align: center;
    margin: 20px auto;
    margin-left: 30px;
    margin-right: 30px;
    min-height: 100px;
    border: 3px solid black;
    border-radius: 10px;
}
.font-panel {
    display: inline-block;
    width: 45%;
    margin: 20px auto;
    margin-left: 30px;
    margin-right: 30px;
    min-height: 100px;
    border: 3px solid black;
    border-radius: 10px;
}
.font-label {
    font-size: 35px;
    text-decoration: underline;
}
p {
    font-size: 25px;
}
.text-heading {
    text-align: left;
    background-color: none;
    font-size: 26px;
}
.subheading {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto';
    text-align: left;
}
.regular {
    font-style: normal;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 700;
}
.caveat-brush {
    font-family: 'Caveat Brush', sans-serif;
}
.caveat {
    font-family: 'Caveat', sans-serif;
}
.playfair-display {
    font-family: 'Playfair Dispalay', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
/* Conatiner */
.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
    background-image: url("pexels-henry-&-co-2341290.jpg");
    max-width: 100%;
    height: auto; }
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} 
body {
    background-image: url(pexels-ivy-son-3490393.jpg);
}  

